@charset "utf-8";
/* CSS Document */


/* Size iPhone 5/SE 320px */

@media screen and (max-width: 320px) {
	
	
}

/* END 320px */


/* Size Galaxy S5 360px */

@media screen and (max-width: 360px) {
	
	/* Info */
	
	.info-quotes p{
		font-size: 15px!important;
	}
	
	/* END Info */
	
	/* ProfIle */
	
	.profil-subtitle{
		font-size: 16px!important;
	}
	
	/* END Profile */
	
	/* Skill */
	
	.skill-category-mobile p{
		font-size: 14px!important;
	}
	
	/* END Skill */
}

/* END 360px */


/* Size iPhone 6/7/8/X 375px */

@media screen and (max-width: 375px) {
	
	/* Achievement */
	
	.achievement-detail img{
		width: 120px!important;
	}
	
	/* END Achievement */
}

/* END 375px */


/* Size Pixel 2/2XL 411px */

@media screen and (max-width: 411px) {
	
	
}

/* END 411px */


/* Size iPhone 6/7/8 Plus 414px */

@media screen and (max-width : 414px) {
	
	/* Header */
	
	.hidden-xs-header{
		display: none!important;	
	}
	.visible-xs-header{
		display: block!important;
	}
	
	/* END Header */

	/* Quotes */
	
	.info-quotes p{
		font-size: 17px;
	}
	.info-quotes span{
		font-family: 'Fira Sans', sans-serif;
		font-size: 90px;
		text-align: right;
		margin-top: 20px;
	}
	
	/* END Quotes */
	
	
	
	/* Profil */
	
	.profil-subtitle{
		font-size: 17px;
	}
	.profil-photo, .profil-detail{
		text-align: center;
	}
	
	/* END Profil */
	
	
	
	/* Education */
	
	ul.timeline h4{
		font-size: 17px;
	}
	ul.timeline h3{
		font-size: 16px;
	}
	ul.timeline span p{
		font-size: 15px;
	}
	
	/* END Education */
	
	
	
	/* Skill */
	
	.skill-category-mobile h4{
    	font-size: 17px!important;
	}
	.skill-category-mobile p{
    	font-size: 16px;
	}
	
	/* END Skill */
	
	
	
	/* Achievement */
	
	.achievement-detail img{
		width: 150px;
	}
	.achievement-detail h1{
		font-size: 17px;
	}
	.achievement-detail h2{
		font-size: 15px;
	}
	.achievement-detail h2{
		font-size: 13px;
	}
	
	/* END Achievement */
	
}

/* END 414px */


/* Size iPad 768px */

@media screen and (max-width : 768px) {
	
	/* Universal */
	
	.hidden-xs{
		display: none!important;
	}
	.visible-xs{
		display: block!important;
	}
		
	/* Header */
	
	.header-bg{
		height: 400px;
	}
	.header-intro{
		margin-left: 55px;
		margin-top: 60px;
	}
	.header-intro h1{
		font-size: 38px;
	}
	.header-intro p{
		font-size: 14px;
	}
	.header-intro button{
		font-size: 19px!important;
		margin-top: 15px;
	}
	
	/* END Header */
	
	
	
	/* Info */
	
	.info-quotes p{
		margin-top: -40px;
	}
	
	/* END Quotes */
	
	
	
	/* Profil */
	
	.profil-detail{
		margin-left: 20px;
	}
	.profile-resources{
		padding-bottom: 25px;
	}
	
	/* END Profil */
	
	
	
	/* Skill */
	
	.skill-bg{
		margin-top: 100px;
	}
	
	/* END Skill */
	
}

/* END 768px */


/* Size iPad Pro 1024px */

@media screen and (max-width: 1024px) {
	
	/* Navigation */
	
	.header-intro button{
		font-size: 21px;
	}
	
	/* END Navigation */
	
	
	
	
	/* Quotes */
	
	.info-quotes p{
		font-size: 21px;
	}
	
	/* END Quotes */
	
	
	
	/* Profil */
	
	.profil-subtitle{
		font-size: 21px;
	}
	
	/* END Profil */
	
	
	
	/* Education */
	
	.content-box h4{
		font-size: 21px;
	}
	.content-box p{
		font-size: 19px;
	}
	.content-box span{
		font-size: 17px;
	}
	
	/* END Education */
	
	
	
	
	/* Skill */
	
	.skill-category{
		padding: 20px;
		margin: -10px;
	}
	.skill-category p{
		font-size: 21px;
	}
	.skill-progress p{
		font-size: 17px;
	}
	
	/* END Skill */
	
	
	
	
	/* Achievement */
	
	.achievement-detail h1{
		font-size: 21px;
	}
	.achievement-detail h2{
		font-size: 19px;
	}
	.achievement-detail h2{
		font-size: 17px;
	}
	
	/* END Achievement */
	
}

/* END 1024px */