@charset "utf-8";
/* CSS Document */


/* Size iPhone 5/SE 320px */

/* END 320px */

/* Size Galaxy S5 360px */

/* END 360px */

/* Size iPhone 6/7/8/X 375px */

/* END 375px */

/* Size Pixel 2/2XL 411px */

/* END 411px */

/* Size iPhone 6/7/8 Plus 414px */

/* END 414px */

/* Size iPad 768px */

/* END 768px */

/* Size iPad Pro 1024px */

@media screen and (max-width: 1024px) {
	
	/* Navigation */
	
	.header-intro button{
		font-size: 21px;
	}
	
	/* END Navigation */
	
	
	
	
	/* Quotes */
	
	.info-quotes p{
		font-size: 21px;
	}
	
	/* END Quotes */
	
	
	
	/* Profil */
	
	.profil-subtitle{
		font-size: 21px;
	}
	
	/* END Profil */
	
	
	
	/* Education */
	
	.content-box h4{
		font-size: 21px;
	}
	.content-box p{
		font-size: 19px;
	}
	.content-box span{
		font-size: 17px;
	}
	
	/* END Education */
	
	
	
	
	/* Skill */
	
	.skill-category{
		padding: 20px;
		margin: -10px;
	}
	.skill-category p{
		font-size: 21px;
	}
	.skill-progress p{
		font-size: 17px;
	}
	
	/* END Skill */
	
}

/* END 1024px */